{% extends 'base.html' %}
{% load shorten_title %}

{% block title %}
    <title>{{article.title}}</title>
{% endblock %}

{% block nav %}
    <li class="nav-item">
        <a class="nav-link active" aria-current="page" href="{% url 'add-article' %}">Create article</a>
    </li>
     <li class="nav-item">
        <a class="nav-link active" aria-current="page" href="{% url 'update-article' article.pk %}">Update article</a>
    </li>
     <li class="nav-item">
        <a class="nav-link active" aria-current="page" href="{% url 'delete-article' article.pk %}">Delete article</a>
    </li>
{% endblock %}

{% block content %}
    <div class="article">
        <h1>Название - {{article.title|shorten:7}}</h1>
        <p>Контент - {{article.content}}</p>
        <p>Автор - {{article.author}}</p>
        <p>Дата создания - {{article.created_at|date:"Y-m-d"}}</p>
        <hr/>
    </div>
{% endblock %}