{% extends 'base.html' %}


{% block title %}
    <title>Update Article</title>
{% endblock %}

{% block nav %}
{% endblock %}


{% block content %}
    <h1>Update Article</h1>
    <form action="" method="post">
        {% csrf_token %}
        <label>Title:</label><br/>
        <input value="{{ article.title }}" type="text" name="title"/><br/>
        <label>Text:</label><br/>
        <textarea name="content">{{ article.content }}</textarea><br/>
        <label>Author:</label><br/>
        <input value="{{ article.author }}" type="text" name="author"/><br/>
        <br/>
        <input type="submit" value="Send"/>
    </form>
{% endblock %}